@import 'tailwindcss';

html,
body {
  scrollbar-width: none;
}

ol,
ul,
menu {
  list-style: none;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
    /* font-family: var(--font-PlaypenSansArabic); */
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  a {
    color: white;
    text-decoration-line: none;
    font-weight: var(--font-weight-semibold);
  }
}

@theme {
  --font-PlaypenSansArabic: 'Playpen Sans Arabic', cursive;

  --color-green-*: initial;
  --color-green-300: #9abda5;
  --color-green-400: #3c735c;
  --color-green-500: #35633c;
  --color-green-900: #021c0f;

  --color-orange-100: #fdcdbc;
  --color-orange-200: #fca88a;
  --color-orange-500: #fc8458;
  --color-orange-700: #fd7645;
  --color-orange-900: #e94104;

  --color-teal-100: #689aae;
  --color-teal-200: #4f8094;
  --color-teal-500: #3e6473;
  --color-teal-700: #2c4751;
  --color-teal-900: #1a2a30;

  --blur-custom: 0.5px;
}

@layer components {
  .nav-link {
    @apply px-2 text-white hover:scale-110  transition-all duration-300 text-lg hover:ring-2 rounded-2xl hover:border-white;
  }
  .categories-link {
    @apply text-[12px] px-4 py-2 rounded-md border-1 border-white text-white font-semibold hover:bg-teal-700 hover:scale-110 transition-all duration-300;
  }
  .carausel-img {
    @apply w-full h-full object-cover blur-custom brightness-75;
  }
}

/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
